.product-preview-card {
  &__title {
    font-style: bold;
    color: #355C7D;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  &__description {
    color: #C06C84;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  &__image {
    width: 10rem;
  }
}
