.home-page {

  margin-top: 1em;
  margin-left: 2em;

  &__title {
    color: #6C5B7B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: #6C5B7B;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}
