.home-page {

  margin-top: 1em;
  margin-left: 2em;

  &__title {
    color: #cc241d;
  }

  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
